<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectV3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">  
  </head>

  <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <%= link_to "GOSSIPS", root_path, class: "navbar-brand" %>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <%= link_to "TEAM", team_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "CONTACT", contact_path, class: "nav-link" %>
                        </li>
                      </ul>
                    </div>      
        </nav>
    <%= yield %>
  </body>
</html>
